{% extends 'core/base.html' %}
{% load materializecss %}

{% block content %}
<div class="card hoverable z-depth-2">
    <div class="card-content">
        <h4 class="center-align grey-text lighten-1">Sign Up</h4>
        <form method="POST" class="grey-text">
            {% csrf_token %}
            {{ form.username|materializecss:'icon=person' }}
            {{ form.email|materializecss:'icon=email' }}
            {{ form.password1|materializecss:'icon=lock' }}
            {{ form.password2|materializecss:'icon=lock' }}
            <div class="center-align">
                <button class="btn waves-effect z-depth-1 mtop" type="submit" name="action">Submit</button>
            </div>
        </form>
        <div class="mtop">
            <small class="grey-text lighten-2">Already have an account? <a class="orange-text" href="{% url 'login' %}">Login</a></small>
        </div>
    </div>
</div>
{% endblock %}
